@media only screen and (max-width : 576px) {
    /* GLOBAL */

    .container {
        padding: 0 15px;
    }

    /* GLOBAL */

    /* HOME-PAGE-START */

    .bannerMain {
        padding: 50px 0 40px;
    }

    .SiteTopHead,
    .secTopHead {
        font-size: 14px;
        line-height: 18px;
    }

    .headingH1 {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }

    /* HOME-PAGE-END */

}